@inject SignInManager<IdentityUser> signInManager;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title Klimatkollen  </title>
    <environment include="Staging, Production,Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="shortcut icon" href="~/images/treeicon.png" />
    </environment>
    <environment exclude="Staging, Production,Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"> Klimatkollen <span class="glyphicon">&#xe199;</span></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li><a asp-area="" asp-controller="Home" asp-action="Index">Hem</a></li>*@
                    <li><a asp-area="" asp-controller="Home" asp-action="Observation">Observationer</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About">Om oss</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Kontakt</a></li>
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li @*class="nav-item dropdown"*@>
                            <a class="navbar-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hantera</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="background-color:silver ">
                                <ul class="list-unstyled">
                                    <li><a asp-action="ListUsers" asp-controller="Administration" class="dropdown-item">Användare</a></li>
                                    <li><a asp-action="ListRoles" asp-controller="Administration" class="dropdown-item">Roller</a></li>
                                </ul>
                                
                            </div>
                        </li>
                    }
                    @if (signInManager.IsSignedIn(User) && User.IsInRole("SubAdmin"))
                    {
                        <a asp-action="ListUsers" asp-controller="Administration" class="dropdown-item">Användare</a>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (signInManager.IsSignedIn(User))
                    {
                    <li class="nav-item">
                        <form method="post" asp-action="logout" asp-controller="account">
                            <button type="submit" class="nav-link btn btn-link py-0" style="padding-top:14px">
                                Logga ut @User.Identity.Name
                            </button>
                        </form>
                    </li>
                        <li>
                            <a asp-area="" asp-controller="Home" asp-action="UserHome">Mitt Hem</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-area="" asp-controller="Account" asp-action="Register">Registera</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="Account" asp-action="Login">Logga in</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()

    </div>
    <footer class="second">
        <div class="row">
            <section class="col-md-4 col-xs-6">
                <h5>Klimatkollen</h5><br />
                <a href="@Url.Action("About", "Home")">Om oss</a> <br />
                <a href="@Url.Action("Contact", "Home")">Kontakta oss</a><br />
                <a href="@Url.Action("Register", "Account")">Registrera</a><br>
            </section>
            <section class="col-md-4 col-xs-6">
                <h5>Länkar:</h5><br />
                <a href="@Url.Action("Index", "Home")">Hem</a><br />
                <a href="@Url.Action("Observation", "Home")">Observation</a><br />
                <a href="@Url.Action("Diagram", "Home")">Statistik</a><br />
                <a href="@Url.Action("Index", "Home")#leaderboard1">Topplista</a><br />
            </section>
            <section class="col-md-4  col-xs-10">
                <h5>Följ oss på sociala medier</h5> <br />
                <p>Håll dig uppdaterad om de senaste klimatförändringarna genom att följa oss på sociala medier!</p><br />
                <ul class="social">
                    <li><a href="https://www.facebook.com"> <img src="~/images/FacebookIcon2.png" /></a></li>
                    <li><a href="https://www.instagram.com"> <img src="~/images/InstagramIcon.png" />  </a></li>
                    <li><a href="https://twitter.com"> <img src="~/images/TwitterIcon.png" /></a></li>
                    <li><a href="https://www.youtube.com"> <img src="~/images/YoutubeIcon.png" /></a></li>
                </ul>
            </section>
        </div>
        <h6>
            &copy; Grupp7 - 2020
        </h6>
    </footer>

    <environment include="Staging, Production,Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9UwW11tMu3_ya1O7nvSjSwFWh-pY_YP8&callback=initMap">
        </script>

        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/MapScript.js" asp-append-version="true"></script>

    </environment>
    <environment exclude="Staging, Production,Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
