@model Grupp7.ViewModels.ObservationViewModel;
@{
 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Statistik</h3>

<h4>En översikt av klimatförändringar över tid</h4>

<hr />
<div class="container">
    <div class="col-md-4">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
        <canvas id="chart" width="400" height="400"></canvas>

    </div>

    <div class="col-md-4">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
        <canvas id="chart1" width="400" height="400" align="right"></canvas>
    </div>
</div>

<div class=" space"> <p>   </p> </div>

<div class="col-md-5">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <canvas id="myChart1" width="400" height="400"></canvas>
    <div class=" space"> <b> Diagram kan anpassas genom att klicka på djurartens namn </b> </div>
</div>

<div class="container">
    <div class="col-md-5">
        <canvas id="myChart" width="400" height="400"></canvas>
        <div class=" space"> <b> Innan 2010 SHMI historiska data, efter 2010 Klimatkollens observationer </b> </div>
    </div>


    @*<div>
            <img src="~/images/shmi_temp.png" alt="Card image" class="responsive">
        </div>*@

</div>

<div class="col-md-5">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    @*<canvas id="myChart2" width="400" height="400"></canvas>*@
    @*<div class=" space"> <p> inte färdigt </p> </div>*@
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>

<a rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"></a> @*//inte säkert om det här*@

<script>
    var myChart = document.getElementById('myChart').getContext('2d');

    var ClimatChart = new Chart(myChart, {
        type: 'bar',
        data: {
            labels: ['1860', '1870', '1880','1890', '1900','1910', '1920','1930', '1940','1950', '1960','1970', '1980','1990', '2000','2010', '2020'],
            datasets: [{
                label: 'Vatten-nivå ökning in cm',
                data: [-5,-3,-2, 0.1, 4, 4, 6, 7, 6, 11, 10, 11, 13, 18,16,22,],
                backgroundColor: '#103b90',
                borderColor: '#13429e5',
                borderWidth: 1,
                hoverBorderWidth: 3,
                hoverBorderColor: '#000',
            },
               {
                label: 'Trendlinje',
                   data: [-5, -3, -2, 0.1, 4, 4, 6, 7, 6, 11, 10, 11, 13, 18, 16, 22, 21.6],
                type: 'line',
                //backgroundColor: '#13429e5',
                borderColor: '#3372ee',
                borderWidth: 4,
                hoverBorderWidth: 3,
                   hoverBorderColor: '#000',
                fill: false,
            },

            ]
        },
        options: {
            title: {
                display: true,
                text: 'Havsnivåhöjning 1860-2020 ',
                fontSize: 15
            },
            legend: {
                display: true
               
            },

        }
    });
</script>


<script>
        var chart = document.getElementById('chart').getContext('2d');
        var ClimatChart1 = new Chart(chart, {
            type: 'pie',
            data: {
                labels: ['Vinter', 'Sommar', 'Spräckligt'],
                datasets: [{
                    label: 'Päls färg',
                    data: [@Model.Statistics.FirstWinter,@Model.Statistics.FirstSummer ,@Model.Statistics.FirstMixed ],
                    backgroundColor: ['#ffffff', '##993300','#dfbf9f'],
                    borderColor: '#777',
                    borderWidth: 1,
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#e7e7e7',
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Raporterade pälsfärg ripa nov 2010 ',
                    fontSize: 15
                },

            }
        });
</script>

<script>

    var chart1 = document.getElementById('chart1').getContext('2d');

        var ClimatChart1 = new Chart(chart1, {
            type: 'pie',
            data: {
                labels: ['Vinter', 'Sommar', 'Spräckligt'],
                datasets: [{
                    label: 'Päls färg',
                    data: [@Model.Statistics.SecondWinter, @Model.Statistics.SecondSummer ,@Model.Statistics.SecondMixed ],
                    backgroundColor: ['#ffffff', '##993300','#dfbf9f'],
                    borderColor: '#777',
                    borderWidth: 1,
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000',
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Raporterade pälsfärg ripa nov 2019 ',
                    fontSize: 15
                },

            }
        });
</script>

<script>
    var myChart1 = document.getElementById('myChart1').getContext('2d');
    var ClimatChart = new Chart(myChart1, {
        type: 'line',
        data: {
            labels: ['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017','2018', '2019', '2020'],
            datasets: [{
                label: 'Fjällrävar',
                data: [@Model.Statistics.FoxByYear[0], @Model.Statistics.FoxByYear[1], @Model.Statistics.FoxByYear[2],
                    @Model.Statistics.FoxByYear[3], @Model.Statistics.FoxByYear[4], @Model.Statistics.FoxByYear[5],
                    @Model.Statistics.FoxByYear[6], @Model.Statistics.FoxByYear[7], @Model.Statistics.FoxByYear[8],
                    @Model.Statistics.FoxByYear[9], @Model.Statistics.FoxByYear[10]],
                backgroundColor: '#aeaaa8',
                borderColor: '#aeaaa8',
                borderWidth: 1,
                hoverBorderWidth: 3,
                hoverBorderColor: '#000',
                fill: false
                
            },
            {
                label: 'Grodor',
                data:[@Model.Statistics.FrogByYear[0], @Model.Statistics.FrogByYear[1], @Model.Statistics.FrogByYear[2],
                    @Model.Statistics.FrogByYear[3], @Model.Statistics.FrogByYear[4], @Model.Statistics.FrogByYear[5],
                    @Model.Statistics.FrogByYear[6], @Model.Statistics.FrogByYear[7], @Model.Statistics.FrogByYear[8],
                    @Model.Statistics.FrogByYear[9],@Model.Statistics.FrogByYear[10]],
                backgroundColor: '#2b8f36',
                borderColor: '#2b8f36',
                borderWidth: 1,
                hoverBorderWidth: 3,
                hoverBorderColor: '#000',
                fill: false
            },
            {

                label: 'Ripa',
                data: [@Model.Statistics.GrouseByYear[0], @Model.Statistics.GrouseByYear[1], @Model.Statistics.GrouseByYear[2],
                    @Model.Statistics.GrouseByYear[3], @Model.Statistics.GrouseByYear[4], @Model.Statistics.GrouseByYear[5],
                    @Model.Statistics.GrouseByYear[6], @Model.Statistics.GrouseByYear[7], @Model.Statistics.GrouseByYear[8],
                    @Model.Statistics.GrouseByYear[9], @Model.Statistics.GrouseByYear[10]],
                backgroundColor: '#dfbf9f',
                borderColor: '#dfbf9f',
                borderWidth: 1,
                hoverBorderWidth: 3,
                hoverBorderColor: '#000',
                fill: false
            },
            {

                label: 'Vildsvin',
                data: [@Model.Statistics.SwineByYear[0], @Model.Statistics.SwineByYear[1], @Model.Statistics.SwineByYear[2],
                    @Model.Statistics.SwineByYear[3], @Model.Statistics.SwineByYear[4], @Model.Statistics.SwineByYear[5],
                    @Model.Statistics.SwineByYear[6], @Model.Statistics.SwineByYear[7], @Model.Statistics.SwineByYear[8],
                    @Model.Statistics.SwineByYear[9], @Model.Statistics.SwineByYear[10]],
                backgroundColor: '#642607',
                borderColor: '#642607',
                borderWidth: 1,
                hoverBorderWidth: 3,
                hoverBorderColor: '#000',
                fill: false
            },
            {

                label: 'Harar',
                data: [@Model.Statistics.HareByYear[0], @Model.Statistics.HareByYear[1], @Model.Statistics.HareByYear[2],
                    @Model.Statistics.HareByYear[3], @Model.Statistics.HareByYear[4], @Model.Statistics.HareByYear[5],
                    @Model.Statistics.HareByYear[6], @Model.Statistics.HareByYear[7], @Model.Statistics.HareByYear[8],
                    @Model.Statistics.HareByYear[9], @Model.Statistics.HareByYear[10]],
                backgroundColor: '#bd4b12',
                borderColor: '#bd4b12',
                borderWidth: 1,
                hoverBorderWidth: 3,
                hoverBorderColor: '#000',
                fill: false
            }],
        }

        ,
        options: {
            title: {
                display: true,
                text: 'Observerade djur 2009-2017 ',
               fontSize: 15
            },
            legend: {
                display: true,

            },

        }
    });
</script>
<script>
    var myChart2 = document.getElementById('myChart2').getContext('2d');

    var ClimatChart = new Chart(myChart2, {
        type: 'bar',
        data: {
            labels: ['1860', '1870', '1880', '1890', '1900', '1910', '1920', '1930', '1940', '1950', '1960', '1970', '1980', '1990', '2000', '2010', '2020'],
            datasets: [{
                label: 'temperaturökning i grader Celsius',
                data: [-5, -3, -2, 0.1, 4, 4, 6, 7, 6, 11, 10, 11, 13, 18, 16, 22,],
                backgroundColor: '#da1c0c',
                borderColor: '#13429e5',
                borderWidth: 1,
                hoverBorderWidth: 3,
                hoverBorderColor: '#000',
            },
            {
                label: 'Trendlinje',
                data: [-5, -3, -2, 0.1, 4, 4, 6, 7, 6, 11, 10, 11, 13, 18, 16, 22, 21.6],
                type: 'line',
                //backgroundColor: '#13429e5',
                borderColor: '#3372ee',
                borderWidth: 4,
                hoverBorderWidth: 3,
                hoverBorderColor: '#000',
                fill: false,
            },

            ]
        },
        options: {
            title: {
                display: true,
                text: 'Avvikelse från årstemperaturens medelvärde vid 35 Svenska mätstationer 1860-2020 ',
                fontSize: 15
            },
            legend: {
                display: true

            },

        }
    });
</script>