@model Grupp7.ViewModels.MapViewModel;


@{
    ViewData["Title"] = "RegisterView";
}

<h3>Observationer</h3>

    <div id="map"></div>
    <script>
        var marker;

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 6,
                center: { lat: @Model.CenterLatitude, lng: @Model.CenterLongitude}
            });

            function addMarker(latitude, longitude, title, date,coat, link, map, Image) {
                var latLng = new google.maps.LatLng(latitude, longitude);
                var contentString = '<h4>' + title + '</h4>' +  '<p>Observerad: '+ date + '</p>' + '<p>Päls: ' + coat + '</p>' + '<p>' + link + '</p>';

                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });

                var marker = new google.maps.Marker({
                    position: latLng,
                    title: title,
                    map: map,
                    draggable: false,
                    icon: Image
                });

                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });
            }
                @foreach (var item in Model.Animals) {
                    if (item.Specie.Speciename is "Fjällräv")
                    {
                <text>addMarker(@item.Latitude, @item.Longitude, '@item.Specie.Speciename',
                '@item.Datetime', '@item.Coat',
                '@Html.ActionLink("Läs mer", "AnimalObservation", "Home", new { id = item.AnimalId })',
                map, 'http://maps.google.com/mapfiles/ms/icons/blue.png');</text>
                    }
                    else
                    {
                                        <text>addMarker(@item.Latitude, @item.Longitude, '@item.Specie.Speciename',
                '@item.Datetime', '@item.Coat',
                '@Html.ActionLink("Läs mer", "AnimalObservation", "Home", new { id = item.AnimalId })',
                map, 'http://maps.google.com/mapfiles/ms/icons/green.png');</text>
                    }
                }
            }

    </script>

