@model Grupp7.ViewModels.ObservationViewModel;
@{
    ViewData["Title"] = "Observationer";

}
<h3>Observationer</h3>


<div class="container">
    @foreach (var item in Model.AnimalList)
    {
        <div class="card">
            <img class="cardImage" src="~/images/three-brown-bunnies.jpg" alt="Bild">
            <div class="cardContent">
                <h4>@item.Specie.Speciename</h4>
                <p>
                    Päls: @item.Coat <br>
                    Tid och Datum: @item.Datetime <br>
                    Longitude: @item.Longitude <br>
                    Latitude: @item.Latitude <br><br>
                </p>
            </div>
            <div class=" BtnDiv">
                @Html.ActionLink("Läs mer", "AnimalObservation", "Home", new { id = item.AnimalId }, new { @class = "btn button" })            
            </div>
            <div class="observer">
                @foreach (var user in Model.UserList.Where(n => n.UserId == @item.UserId))
                {
                    <span>Observatör: </span> @user.Username <br />
                    @*@user.Firstname @:&nbsp; @user.Lastname*@
                }
            </div>
        </div>
        <br />
    }
    @foreach (var item in Model.WeatherList)
    {
        <div class="card">
            <img class="cardImage" src="~/images/icebergs-2574987.jpg" alt="Bild">
            <div class="cardContent">
                <h4>@item.Type</h4>
                <p>
                    Datum och tid: @item.Datetime <br>
                    Longitude @item.Longitude <br>
                    Latitude: @item.Latitude <br><br><br>
                    @*PH halt: @item.PH <br>
            Fuktighet: @item.Humidity <br>
            Temperatur: @item.Temperature <br>
            Carbon: @item.Carbon <br> *@
                </p>
            </div>
            <div class=" BtnDiv">
                <input type="button" class="button" value="Läs mer">
            </div>
            <div class="observer">
                @foreach (var user in Model.UserList.Where(n => n.UserId == @item.UserId))
                {
                   <span>Observatör: </span> @user.Username <br />
                    @*@user.Firstname @:&nbsp; @user.Lastname*@
                }
            </div>
        </div>
        <br />
    }
</div>



