@using Grupp7.Classes;
@model Grupp7.ViewModels.ObservationViewModel;

@{
    ViewData["Title"] = "Observationer";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h3>Observationer</h3>
<br />
<br />

<form asp-controller="Home" asp-action="Observation" method="get">
    <p>
        <select asp-for="ObservationType" asp-items="Model.ObservationTypes">
            <option value="">All</option>
        </select>

        Sökning: <input type="text" name="SearchTerm">
        <input type="submit" value="Sök" />
    </p>
</form>
<br />
<br />
<h4 class="text-success">@ViewData["success"]</h4>
<style>
    #map {
        width: 100%;
    }
</style>

<div class="container">
    <div id="map" class="observationCard"></div><br />

    <div class="container-fluid py-4">
        <form asp-controller="Home" asp-action="Observation" method="get">
            <p>
                Sökning: <input type="text" name="SearchTerm" placeholder="Namn eller Observation..." value="@ViewData["CurrentFilter"]">
                <input type="submit" value="Sök"/>
            </p>
        </form>
        <table class="table table-striped table-bordered">
            <tr class="bg-dark text-white">
                <th>
                    <label>ID</label>
                </th>
                <th>
                    <a asp-action="Observation" asp-route-sortBy="@ViewData["ObservationSortParameter"]">Observation</a>
                </th>
                <th>
                    <a asp-action="Observation" asp-route-sortBy="@ViewData["DatetimeSortParameter"]">Datum</a>
                </th>
                <th>
                    <a asp-action="Observation" asp-route-sortBy="@ViewData["CitySortParameter"]">Stad</a>
                </th>
                <th>
                    <a asp-action="Observation" asp-route-sortBy="@ViewData["NameSortParameter"]">Namn</a>
                </th>
            </tr>
            <tbody>
                @foreach (var item in Model.ObservationsList)
                {
                    if (item.Animal != null)
                    {
                        <tr>
                            <td><a href=" @Url.Action("AnimalObservation", "Home", new { id = item.Animal.AnimalId })">@item.Animal.AnimalId</a></td>
                            <td>@item.Animal.Specie.Speciename</td>
                            <td>@item.Datetime</td>
                            <td>@item.Animal.City</td>
                            <td>@item.Animal.User.Firstname @item.Animal.User.Lastname</td>
                        </tr>
                    }
                    else if (item.Weather != null)
                    {
                        <tr>
                            <td><a href=" @Url.Action("WeatherObservation", "Home", new { id = item.Weather.WeatherId })">@item.Weather.WeatherId</a></td>
                            <td>@item.Weather.Type</td>
                            <td>@item.Datetime</td>
                            <td>@item.Weather.City</td>
                            <td>@item.Weather.User.Firstname @item.Weather.User.Lastname</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<script>
            var marker;

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 5.5,
            center: { lat: @Model.CentralLatitude, lng: @Model.CentralLongitude}
        });

        function addMarker(latitude, longitude, title, date, coat, link, map, Image) {
            var latLng = new google.maps.LatLng(latitude, longitude);
            var contentString = '<h4>' + title + '</h4>' + '<p>Observerad: ' + date + '</p>' + '<p>' + coat + '</p>' + '<p>' + link + '</p>';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            var marker = new google.maps.Marker({
                position: latLng,
                title: title,
                map: map,
                draggable: false,
                icon: Image
            });

            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });
        }
                @foreach (var item in Model.ObservationsList.Where(a => a.Animal is Animal))

                    {
                <text>addMarker(@item.Animal.Latitude, @item.Animal.Longitude, '@item.Animal.Specie.Speciename',
            '@item.Animal.Datetime', 'Päls: @item.Animal.Coat',
            '@Html.ActionLink("Läs mer", "AnimalObservation", "Home", new { id = item.Animal.AnimalId })',
            map, 'http://maps.google.com/mapfiles/ms/icons/green.png');</text>
                    }


                @foreach (var item in Model.ObservationsList.Where(a => a.Weather is Weather))
                {
                <text>addMarker(@item.Weather.Latitude, @item.Weather.Longitude, '@item.Weather.Type',
            '@item.Weather.Datetime', 'Tempratur: @item.Weather.Temperature',
            '@Html.ActionLink("Läs mer", "WeatherObservation", "Home", new { id = item.Weather.WeatherId })',
            map, 'http://maps.google.com/mapfiles/ms/icons/blue.png');</text>
                }
    }
</script>




