@model Grupp7.ViewModels.ObservationViewModel;
@{
    ViewData["Title"] = "Observationer";

}
<h3>Observationer</h3>

<style>
    #map {
        width: 90%;
    }
</style>
<div class="container">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <canvas id="chart" width="400" height="400"></canvas>
    <div id="map" class="observationCard"></div><br />
    @foreach (var item in Model.AnimalList)
    {
        <div class="observationCard">
            <img class="cardImage" src="~/images/three-brown-bunnies.jpg" alt="Bild">
            <div class="cardContent">
                <h4>@item.Specie.Speciename</h4>
                <p>
                    Päls: @item.Coat <br>
                    Tid och Datum: @item.Datetime <br>
                    Longitude: @item.Longitude <br>
                    Latitude: @item.Latitude <br><br>
                </p>
            </div>
            <div class=" BtnDiv">
                @Html.ActionLink("Läs mer", "AnimalObservation", "Home", new { id = item.AnimalId }, new { @class = "btn button" })
            </div>
            <div class="observer">
                @foreach (var user in Model.UserList.Where(n => n.UserId == @item.UserId))
                {
                    <span>Observatör: </span> @user.Username <br />
                    @*@user.Firstname @:&nbsp; @user.Lastname*@
                }
            </div>
        </div>
        <br />
    }
    @foreach (var item in Model.WeatherList)
    {
        <div class="observationCard">
            <img class="cardImage" src="~/images/icebergs-2574987.jpg" alt="Bild">
            <div class="cardContent">
                <h4>@item.Type</h4>
                <p>
                    Datum och tid: @item.Datetime <br>
                    Longitude @item.Longitude <br>
                    Latitude: @item.Latitude <br><br><br>
                    @*PH halt: @item.PH <br>
                        Fuktighet: @item.Humidity <br>
                        Temperatur: @item.Temperature <br>
                        Carbon: @item.Carbon <br> *@
                </p>
            </div>
            <div class=" BtnDiv">
                @Html.ActionLink("Läs mer", "WeatherObservation", "Home", new { id = item.WeatherId }, new { @class = "btn button" })
            </div>
            <div class="observer">
                @foreach (var user in Model.UserList.Where(n => n.UserId == @item.UserId))
                {
                    <span>Observatör: </span> @user.Username <br />
                    @*@user.Firstname @:&nbsp; @user.Lastname*@
                }
            </div>
        </div>
        <br />
    }
</div>

<script>
        var marker;

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 5.5,
                center: { lat: @Model.CentralLatitude, lng: @Model.CentralLongitude}
            });

            function addMarker(latitude, longitude, title, date,coat, link, map, Image) {
                var latLng = new google.maps.LatLng(latitude, longitude);
                var contentString = '<h4>' + title + '</h4>' +  '<p>Observerad: '+ date + '</p>' + '<p>' + coat + '</p>' + '<p>' + link + '</p>';

                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });

                var marker = new google.maps.Marker({
                    position: latLng,
                    title: title,
                    map: map,
                    draggable: false,
                    icon: Image
                });

                google.maps.event.addListener(marker, 'click', function () {
                    infowindow.open(map, marker);
                });
            }
                @foreach (var item in Model.AnimalList)
                {
                <text>addMarker(@item.Latitude, @item.Longitude, '@item.Specie.Speciename',
                '@item.Datetime', 'Päls: @item.Coat',
                '@Html.ActionLink("Läs mer", "AnimalObservation", "Home", new { id = item.AnimalId })',
                map, 'http://maps.google.com/mapfiles/ms/icons/green.png');</text>
                }
            @foreach (var item in Model.WeatherList)
            {
                                                        <text>addMarker(@item.Latitude, @item.Longitude, '@item.Type',
                '@item.Datetime', 'Tempratur: @item.Temperature',
                '@Html.ActionLink("Läs mer", "WeatherObservation", "Home", new { id = item.WeatherId })',
                map, 'http://maps.google.com/mapfiles/ms/icons/blue.png');</text>
            }
        }
</script>
<script>
    var chart = document.getElementById('chart').getContext('2d');

    var ClimatChart1 = new Chart(chart, {
        type: 'pie',
        data: {
            labels: ['Vinter', 'Sommar', 'Spräckligt'],
            datasets: [{
                label: 'Päls färg',
                data: [2, 26, 14, 0, 20, 50, 88, 8, 31],
                backgroundColor: '#68a275',
                borderColor: '#777',
                borderWidth: 1,
                hoverBorderWidth: 3,
                hoverBorderColor: '#000',
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Ripa 2010 ',
                fontsize: 25
            },
            legend: {
                display: true,
                text: 'Antal kullar'
            },

        }
    });
</script>




