@using Grupp7.Classes;
@model Grupp7.ViewModels.ObservationViewModel;

@{
    ViewData["Title"] = "Observationer";

}
<h3>Observationer</h3>
<br />
<br />

<form asp-controller="Home" asp-action="Observation" method="get">
    <p>
        <select asp-for="ObservationType" asp-items="Model.ObservationTypes">
            <option value="">All</option>
        </select>

        Sökning: <input type="text" name="SearchTerm">
        <input type="submit" value="Sök" />
    </p>
</form>
<br />
<br />
<h4 class="text-success">@ViewData["success"]</h4>
<style>
    #map {
        width: 90%;
    }
</style>
<div class="container">
    <div id="map" class="observationCard"></div><br />
    @foreach (var item in Model.ObservationsList)
    {
        if (item.Animal != null)
        {
            <div class="card flex-row flex-wrap">
                <div class="card-block px-4">
                    <p class="card-text">
                        @item.Animal.Specie.Speciename " " Päls: @item.Animal.Coat " " Tid och Datum: @item.Datetime <br>
                    </p>
                </div>
                @Html.ActionLink("Läs mer", "AnimalObservation", "Home", new { id = item.Animal.AnimalId }, new { @class = "btn button" })
            </div>
            <br />
        }
        else if (item.Weather != null)
        {
            <div class="card flex-row flex-wrap">
                <div class="card-block px-4">
                    <p class="card-text">
                        @item.Weather.Type
                        Datum och tid: @item.Datetime <br>
                    </p>
                </div>
                @Html.ActionLink("Läs mer", "AnimalObservation", "Home", new { id = item.Weather.WeatherId }, new { @class = "btn button" })
            </div>
            <br />
        }
    }
</div>

<script>
            var marker;

    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 5.5,
            center: { lat: @Model.CentralLatitude, lng: @Model.CentralLongitude}
        });

        function addMarker(latitude, longitude, title, date, coat, link, map, Image) {
            var latLng = new google.maps.LatLng(latitude, longitude);
            var contentString = '<h4>' + title + '</h4>' + '<p>Observerad: ' + date + '</p>' + '<p>' + coat + '</p>' + '<p>' + link + '</p>';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            var marker = new google.maps.Marker({
                position: latLng,
                title: title,
                map: map,
                draggable: false,
                icon: Image
            });

            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });
        }
                @foreach (var item in Model.ObservationsList.Where(a => a.Animal is Animal))

                    { 
                <text>addMarker(@item.Animal.Latitude, @item.Animal.Longitude, '@item.Animal.Specie.Speciename',
            '@item.Animal.Datetime', 'Päls: @item.Animal.Coat',
            '@Html.ActionLink("Läs mer", "AnimalObservation", "Home", new { id = item.Animal.AnimalId })',
            map, 'http://maps.google.com/mapfiles/ms/icons/green.png');</text>
                    }


                @foreach (var item in Model.ObservationsList.Where(a => a.Weather is Weather))
                {
                <text>addMarker(@item.Weather.Latitude, @item.Weather.Longitude, '@item.Weather.Type',
            '@item.Weather.Datetime', 'Tempratur: @item.Weather.Temperature',
            '@Html.ActionLink("Läs mer", "WeatherObservation", "Home", new { id = item.Weather.WeatherId })',
            map, 'http://maps.google.com/mapfiles/ms/icons/blue.png');</text>
                }
    }
</script>




