@model Grupp7.ViewModels.ObservationViewModel;
@{
    ViewData["Title"] = "Observationer";

}
<h3>Observationer</h3>

@*join the animal and weather into one list and sort
    fix bootstrap
*@

        <div class="container">
            @foreach (var item in Model.AnimalList)
            {
                <div class="card flex-row flex-wrap">
                    <img src="~/images/three-brown-bunnies.jpg" alt="images" style="width:300px; height:200px;">
                    <div class="card-block px-4">
                        <h4 class="card-title">@item.Name</h4>
                        <p class="card-text">
                            Päls: @item.Coat <br>
                            Tid och Datum: @item.Datetime <br>
                            Longitude: @item.Longitude <br>
                            Latitude: @item.Latitude <br>

                            @foreach (var user in Model.UserList.Where(n => n.UserId == @item.UserId))
                            {
                                @user.Username <br />
                                @user.Firstname @user.Lastname
                            }
                        </p>
                    </div>
                    <a href="#" class="btn btn-primary pull-right">Läs mer </a>
                </div>
                <br />
            }
            @foreach (var item in Model.WeatherList)
            {
                <div class="card flex-row flex-wrap">
                    <img src="~/images/icebergs-2574987.jpg" alt="images" style="width:300px; height:200px;">
                    <div class="card-block px-4">
                        <h4 class="card-title">@item.Type</h4>
                        <p class="card-text">
                            Datum och tid: @item.Datetime <br>
                            Longitude @item.Longitude <br>
                            Latitude: @item.Latitude <br>
                            PH halt: @item.PH <br>
                            Fuktighet: @item.Humidity <br>
                            Temperatur: @item.Temperature <br>
                            Carbon: @item.Carbon <br>

                            @foreach (var user in Model.UserList.Where(n => n.UserId == @item.UserId))
                            {
                                @user.Username <br />
                                @user.Firstname @user.Lastname
                            }
                        </p>
                    </div>
                    <a href="#" class="btn btn-primary" style="float:right">Läs mer </a>
                </div>
                <br />
            }
        </div>

