@model Grupp7.ViewModels.RegisterUserViewModel
@{
    ViewData["Title"] = "Registrera Användare";
}

<h2>Registrera nytt konto</h2>

@using (Html.BeginForm("RegisterUser", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div>
        <img src="~/images/deer_small.jpg" alt="Card image" class="img-responsive" style="float:right">
    </div>
    <h4>Skapa nytt konto</h4>

    <hr />

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">

        @Html.LabelFor(m => m.User.Firstname, "Förnamn", new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.User.Firstname, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.User.Firstname)
        </div>
        <div class="col-md-3">
        </div>

    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.User.Lastname, "Efternamn", new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.User.Lastname, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.User.Username, "Användarnamn", new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.User.Username, new { @class = "form-control" })
        </div>


    </div>
    <div class="form-group">
        <div class="form-group">

            @Html.LabelFor(m => m.User.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control" })
            </div>


        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.User.Phone, "Telefonnummer", new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.User.Phone, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.User.Password, "Lösenord", new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.PasswordFor(m => m.User.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, "Bekräfta lösenord", new { @class = "col-md-2 control-label" })
        <div class="col-md-3">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
            <input type="submit" class="btn btn-primary mt-5 mr-2" value="Register" />
        </div>
    </div>
}

@section Scripts {
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.9/jquery.validate.unobtrusive.min.js"></script>
}
