@model Grupp7.ViewModels.UserHomeViewModel

@{
    ViewData["Title"] = "View";
}

<h2>Mitt hem</h2>
<h4>Här visas dina observationer</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Användarnamn
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Username)
        </dd>
        <dt>
            Förnamn
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Firstname)
        </dd>
        <dt>
            Efternamn
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Lastname)
        </dd>
    </dl>
    <h3>Djur</h3>
    <div>
        <img src="~/images/wildBoar_small.jpg" alt="Card image" align="middle" />
    </div>
    <p> </p>
    @Html.ActionLink("Lägg till nytt djur", "AddAnimal", "Home")
    <hr />

    @foreach (var item in Model.Animals)
    {

        <p>@item.Datetime </p>
        <p>Djur @item.Specie.Speciename</p>
        <p>Long @item.Longitude </p>
        <p>Lat @item.Latitude </p>
        <p>Päls @item.Coat </p>
        <hr />

    }

    <h3>Väder</h3>
    <div>
        <img src="~/images/weather_small1.jpg" alt="Card image" align="middle" />
    </div>
    <p> </p>
    <hr />

    @foreach (var item in Model.Weathers)
    {

        <p>@item.Datetime </p>
        <p>Fukt @item.Humidity </p>
        <p>Ph @item.PH</p>
        <p>Kol @item.Carbon </p>
        <p>Tempratur @item.Temperature </p>
        <p>Long @item.Longitude </p>
        <p>Lat @item.Latitude </p>
        <hr />

    }

</div>

