@model IEnumerable<IdentityUser>
@{
    ViewBag.Title = "All Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Användare</h2>
<br />
<form asp-controller="Administration" asp-action="ListUsers" method="get">
    <p>
        Sökning: <input type="text" name="SearchTerm" placeholder="Namn eller Observation..." value="@ViewData["CurrentFilter"]">
        <input type="submit" value="Sök" />
    </p>
</form>


@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="Register" asp-controller="Account">Registrera ny Användare</a>
    <br />
    foreach (var user in Model)
    {
        <br />
        <div class="card mb-3">
            <div class="card-header">
                Användare ID: @user.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">Email: @user.Email</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">Användarnamn: @user.UserName</h5>
            </div>
            <div class="card-footer">

                <form asp-action="DeleteUser" asp-route-id="@user.Id" method="post">
                    <a asp-action="EditUser" asp-controller="Administration" asp-route-id="@user.Id" class="btn btn-primary">Redigera</a>
                    <span id="confirmDeleteSpan_@user.Id" style="display:none">
                        <span>Är du säker?</span>
                        <button type="submit" class="btn btn-primary">Ja</button>
                        <a href="#" class="btn btn-primary" onclick="confirmDelete('@user.Id', false)">Nej</a>
                    </span>

                    <span id="deleteSpan_@user.Id">
                        <a href="#" class="btn btn-danger" onclick="confirmDelete('@user.Id', true)">Radera</a>
                    </span>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Inga Användare ännu!
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Klicka nedanför för att registrera en ny Användare.
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="Account" asp-action="Register">
                Registrera Användare
            </a>
        </div>
    </div>
}
@section Scripts {
    <script src="~/js/ConfirmationScript.js"></script>
}

