@model IEnumerable<IdentityRole>
@{
    ViewBag.Title = "All Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Roller</h2>
<hr />


<div class="container-fluid py-4">
    <form asp-controller="Administration" asp-action="ListRoles" method="get">
        <p>
            Sökning: <input type="text" name="searchFor" placeholder="Sök efter Roller..." value="@ViewData["CurrentSearch"]">
            <input type="submit" value="Sök" />
        </p>
    </form>
</div>
<br />
@if (Model.Any())
{
    <a class="btn btn-primary mb-3" style="width:auto" asp-action="CreateRole" asp-controller="Administration">Skapa ny Roll</a>
    <br />
    foreach (var role in Model)
    {
        <br />
        <div class="leaderboard">
            <div class="LeaderboardHeader">
                <span>Roll ID</span>
                <span>Roll</span>
            </div>
            <div class="LeaderboardRow ">

                <span> @role.Id </span>
                <span>@role.Name</span>
            </div>
            <div class="LeaderboardFooter">

                <form asp-action="DeleteRole" asp-route-id="@role.Id" method="post">
                    <a class="btn btn-primary" asp-action="EditRole" asp-controller="Administration" asp-route-id="@role.Id">Redigera</a>
                    <span id="confirmDeleteSpan_@role.Id" style="display:none">
                        <span>Är du säker?</span>
                        <button type="submit" class="btn btn-primary">Ja</button>
                        <a href="#" class="btn btn-primary" onclick="confirmDelete('@role.Id', false)">Nej</a>
                    </span>

                    <span id="deleteSpan_@role.Id">
                        <a href="#" class="btn btn-danger" onclick="confirmDelete('@role.Id', true)">Radera</a>
                    </span>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            Inga skapade Roller ännu
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Klicka nedanför för att skapa en ny Roll.
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="Administration" asp-action="CreateRole">
                Skapa Roll
            </a>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/ConfirmationScript.js"></script>
}